@import url('https://fonts.googleapis.com/css2?family=Poppins :wght@400;600;700&display=swap');

body {
    background-image: url(../images/img_bg.png);
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;  
}

nav {
    position: sticky;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 0 15px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    padding: 0px;
    margin-left: 800%;
}

.navbar-nav {
    margin-left: 60%;
}

.index-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 10% auto;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.underline {
    background-image: url(../images/img_underline.png);
    background-size: cover;
    height: 25px;
    width: 80%;
    margin-bottom: 10px;
}

h1 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    height: 36px;
    width: 250px;
    background-color: #0A2351;
    border: 0px;
    border-radius: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 15px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.user {
    background-color: #FFFFFF;
    border: 2px solid #0A2351;
    color: #0A2351;
}

button:hover {
    transform: scale(1.03);
}

button:active {
    transform: scale(1);
    color: #FE961C;
}

.link-button p, a {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    margin: 0px;
}